@import "tailwindcss";


body {
  background-color: #06080C;
  padding: calc(20px * var(--screen-factor));
  color: #FFFFFF;
  text-align: center
}

button {
  display: flex;
  outline: none;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: calc(10px * var(--screen-factor));
  padding: calc(15px * var(--screen-factor));
  cursor: pointer;
  transition: 0.5s opacity background-color linear;
  font-size: calc(18px * var(--screen-factor));
}

.error{
  background-color: #0F1318;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: calc(5px * var(--screen-factor));
  padding: calc(10px * var(--screen-factor));
  font-size: calc(18px * var(--screen-factor));
  border-radius: 5px;
}

.status{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(10px * var(--screen-factor));
  padding: calc(10px * var(--screen-factor));
  margin: calc(10px * var(--screen-factor));
  border-radius: 5px;
  width: calc(150px * var(--screen-factor));
  height: calc(50px * var(--screen-factor));
  font-size: calc(16px * var(--screen-factor));
}

@font-face {
  font-family: 'TacticSans';
  src: url('../exotic_fonts/TacticSans-BldIt.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@keyframes spin {
  0%, 100% {
    transform: rotateZ(360deg);
  }
}

.spinning {
  animation: spin 0.5s linear reverse infinite;
}